.container {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  a {
    width: 1240px;
    height: 110px;
    .container2 {
      width: 100%;
      height: 100%;
      position: sticky;
      border-radius: 16px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background: linear-gradient(
        90deg,
        rgba(233, 237, 236, 1) 0%,
        rgba(239, 240, 240, 1) 0%
      );
      .contain1 {
        width: 468px;
        height: 62px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .text {
          width: 112px;
          height: 28px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #029a49;
          border-radius: 16px;
          font-size: 14px;
          font-weight: 700;
          color: white;
          font-family: var(--font-family);
        }
      }
      .contain2 {
        width: 636px;
        height: 74px;
        display: flex;
        align-items: center;
        .discountitem {
          width: 497px;
          height: 100%;
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          align-items: center;
          column-gap: 7px;
          .containitem {
            width: 74px;
            height: 74px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: white;
            object-fit: cover;
            position: relative;
            img {
              width: 58px;
              height: 58px;
              border-radius: 50%;
            }
            .discount{
                width: 34px;
                height: 20px;
                background-color: #D32F2F;
                position: absolute;
                border-radius: 9999px;
                top: 54px;
                left: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                font-weight: 700;
                font-family: var(--font-family);
                color: white;
            }
          }
        }
        button {
          width: 144.1px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 7px;
          border-radius: 9999px;
          background-color: white;
          border: 0px;
          font-size: 12px;
          font-weight: 700;
          font-family: var(--font-family);
          color: #029a49;
          .container-svg {
            width: 19px;
            height: 19px;
          }
        }
      }
    }
  }
}
