footer {
  width: 100%;
  height: 1158px;
  margin-top: 50px;
  background-color: black;
  border-top: 1px solid rgb(240, 240, 241);
  .footer-pt1 {
    width: 1240px;
    height: 965px;
    background-color: crimson;
    margin-top: 34px;
    padding: 0px 20px;
    .icon-uplink {
      width: 1240px;
      height: 40px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .button {
        width: 138.2px;
        height: 100%;
        .uplink {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 6px;
          font-family: var(--font-family);
          font-size: 12px;
          font-weight: 700;
          color: #A1A3A8;
          border: 1px solid rgb(240, 240, 241);
          background-color: white;
          box-sizing: border-box;
          border-radius: 8px;
        }
      }
    }
    .digi-tellnumbers {
        width: 1240px;
        height: 26px;
        margin-top: 13px;
        display: flex;
        align-items: center;
        color: #3F4064;
        background-color: aqua;
        font-family: var(--font-family);
        font-size: 12px;
        column-gap: 20px;
        .tell-lilline {
            width: 1px;
            height: 9px;
            background-color: #A1A3A8;
        }
    }
    .digi-adjectives {
        width: 1240px;
        height: 103.9px;
        margin: 32px 0px;
        display: flex;
        column-gap: 1px;
        a {
            width: 240.5px;
            height: 100%;
            text-decoration: none;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            row-gap: 3px;
            justify-content: center;
            font-family: var(--font-family);
            font-size: 11px;
            color: #3F4064;
        }
    }
    .center {
        width: 1240px;
        height: 270.1px;
        margin-bottom: 32px;
        display: flex;
        column-gap: 1px;
        .cl1 {
            width: 292.1px;
            height: 270.1px;
        }
        .cl2 {
            width: 307px;
            height: 270.1px;
        }
        .cl3 {
            width: 312.3px;
            height: 270.1px;
        }
        .center-links {
            font-family: var(--font-family);
            font-weight: 700px;
            p{
                width: 100%;
                height: 33.6px;
                margin-bottom: 8px;
                color: #3F4064;
                font-size: 16px;
            }
            a {
                display: block;
                width: 100%;
                height: 30.1px;
                text-decoration: none;
                font-size: 14px;
                color: #81858B;
                margin-bottom: 8px;
            }
        }
        .center-items {
            width: 324.9px;
            height: 270.1px;
            .center-items-top {
                width: 100%;
                height: 85.6px;
                h4 {
                    width: 100%;
                    height: 33.6px;
                    margin-bottom: 12px;
                    font-family: var(--font-family);
                    font-size: 16px;
                    font-weight: 700;
                    color: #3F4064;
                }
                .center-items-top-icon{
                    width: 100%;
                    height: 40px;
                    display: flex;
                    column-gap: 33px;
                }
            }
            .center-items-down {
                width: 100%;
                height: 93.6px;
                display: flex;
                flex-flow: column nowrap;
                margin-top: 32px;
                font-family: var(--font-family);
                h4 {
                    width: 100%;
                    height: 33.6px;
                    color: #3F4064;
                    margin-bottom: 16px;
                }
                .form {
                    width: 100%;
                    height: 48px;
                    display: flex;
                    justify-content: space-between;
                    input{
                        width: 260.8px;
                        height: 100%;
                        border: none;
                        border-radius: 8px;
                        background-color: rgb(240, 240, 241);
                        font-family: var(--font-family);
                        font-size: 16px;
                        color: #A1A3A8;
                        opacity: 0.9;
                    }
                    button {
                        width: 54.1px;
                        height: 100%;
                        border: none;
                        font-family: var(--font-family);
                        background-color: #E0E0E2;
                        color: white;
                        border-radius: 8px;

                    }
                }
            }
        }
    }
  }
}
