footer {
  width: 100%;
  height: 1158px;
  margin-top: 50px;
  border-top: 1px solid rgb(240, 240, 241);
  .footer-pt1 {
    width: 1240px;
    height: 965px;
    margin-top: 34px;
    padding: 0px 20px;
    .icon-uplink {
      width: 1240px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .button {
        width: 138.2px;
        height: 100%;
        .uplink {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 6px;
          font-family: var(--font-family);
          font-size: 12px;
          font-weight: 700;
          color: #a1a3a8;
          border: 1px solid rgb(240, 240, 241);
          box-sizing: border-box;
          border-radius: 8px;
        }
      }
    }
    .digi-tellnumbers {
      width: 1240px;
      height: 26px;
      margin-top: 13px;
      display: flex;
      align-items: center;
      color: #3f4064;
      font-family: var(--font-family);
      font-size: 12px;
      column-gap: 20px;
      .tell-lilline {
        width: 1px;
        height: 9px;
        background-color: #a1a3a8;
      }
    }
    .digi-adjectives {
      width: 1240px;
      height: 103.9px;
      margin: 32px 0px;
      display: flex;
      column-gap: 1px;
      a {
        width: 240.5px;
        height: 100%;
        text-decoration: none;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        row-gap: 3px;
        justify-content: center;
        font-family: var(--font-family);
        font-size: 11px;
        color: #3f4064;
      }
    }
    .center {
      width: 1240px;
      height: 270.1px;
      margin-bottom: 32px;
      display: flex;
      column-gap: 1px;
      .cl1 {
        width: 292.1px;
        height: 270.1px;
      }
      .cl2 {
        width: 307px;
        height: 270.1px;
      }
      .cl3 {
        width: 312.3px;
        height: 270.1px;
      }
      .center-links {
        font-family: var(--font-family);
        font-weight: 700px;
        p {
          width: 100%;
          height: 33.6px;
          margin-bottom: 8px;
          color: #3f4064;
          font-size: 16px;
        }
        a {
          display: block;
          width: 100%;
          height: 30.1px;
          text-decoration: none;
          font-size: 14px;
          color: #81858b;
          margin-bottom: 8px;
        }
      }
      .center-items {
        width: 324.9px;
        height: 270.1px;
        .center-items-top {
          width: 100%;
          height: 85.6px;
          h4 {
            width: 100%;
            height: 33.6px;
            margin-bottom: 12px;
            font-family: var(--font-family);
            font-size: 16px;
            font-weight: 700;
            color: #3f4064;
          }
          .center-items-top-icon {
            width: 100%;
            height: 40px;
            display: flex;
            column-gap: 33px;
          }
        }
        .center-items-down {
          width: 100%;
          height: 93.6px;
          display: flex;
          flex-flow: column nowrap;
          margin-top: 32px;
          font-family: var(--font-family);
          h4 {
            width: 100%;
            height: 33.6px;
            color: #3f4064;
            margin-bottom: 16px;
          }
          .form {
            width: 100%;
            height: 48px;
            display: flex;
            justify-content: space-between;
            input {
              width: 260.8px;
              height: 100%;
              border: none;
              border-radius: 8px;
              background-color: rgb(240, 240, 241);
              font-family: var(--font-family);
              font-size: 16px;
              color: #a1a3a8;
              opacity: 0.9;
            }
            button {
              width: 54.1px;
              height: 100%;
              border: none;
              font-family: var(--font-family);
              background-color: #e0e0e2;
              color: white;
              border-radius: 8px;
            }
          }
        }
      }
    }
    .app-box {
      width: 1240;
      height: 76px;
      margin-bottom: 28px;
      border-radius: 8px;
      background-color: #3c4b6d;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .app-box-name {
        width: 288px;
        height: 44.1px;
        display: flex;
        justify-content: space-between;
        .app-box-name-digi-icon {
          width: 44px;
          height: 44px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .app-box-name-text {
          width: 228px;
          height: 44.1px;
          color: white;
          display: flex;
          align-items: center;
          font-family: var(--font-family);
          font-size: 21px;
          font-weight: 700;
        }
      }
      .app-box-download-links {
        width: 904px;
        height: 60px;
        display: flex;
        align-items: center;
        .download-links-box {
          width: 844px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          a {
            width: 142px;
            height: 44px;
            margin: 8px;
            img {
                width: 100%;
                height: 100%;
            }
          }
        }
        a {
          width: 44px;
          height: 44px;
          margin-right: 16px;
          border-radius: 4px;
          background-color: white;
        }
      }
    }
    .explanation {
      width: 1240px;
      height: 224px;
      border-top: 1px solid rgb(240, 240, 241);
      display: flex;
      align-items: center;
      .explanation-container {
        width: 100%;
        height: 159px;
        display: flex;
        .explanation-box {
          width: 764px;
          height: 159px;
          .explanation-box-text {
            width: 724px;
            height: 125px;
            background-color: white;
            color: #62666d;
            mask-image: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 1),
              rgba(0, 0, 0, 0.6),
              rgba(0, 0, 0, 0.1)
            );
            font-family: var(--font-family);
            font-size: 11px;
            font-weight: 700;
            h1 {
              margin-bottom: 8px;
            }
            p {
              font-size: 12px;
              line-height: 26px;
            }
          }
          .explanation-span {
            width: 92px;
            height: 26px;
            display: flex;
            align-items: center;
            color: #19bfd3;
            margin-top: 8px;
            font-family: var(--font-family);
            font-size: 12px;
            text-decoration: none;
          }
        }
        .achievement-box {
          width: 468px;
          height: 109px;
          display: flex;
          justify-content: flex-end;
          column-gap: 8px;
          .achievement {
            width: 109px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            border: 1px solid rgb(240, 240, 241);
            img{
                width: 70%;
                height: 70%;
                object-fit: cover;
            }
          }
        }
      }
    }
  }
}
